<div class="container border border-dark">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h2 mat-dialog-title>Description</h2>
        <mat-dialog-content>
            Programming is about polishing the craft with years of trial and error. 
            I wish there was a way to save yourself from all the hard work by learning from the mistakes of other programmers? 
            Fortunately, there is, and it is known to the world as the Clean Code: 
            A Handbook of Agile Software Craftsmanship book from the legendary Uncle Bob.   
        </mat-dialog-content>
            <br>
        <mat-dialog-actions align="end">
            <button class="btn btn-danger" mat-button [mat-dialog-close] >Close</button>
        </mat-dialog-actions>
        <br>
        </div>
    </div>
</div>

