
<div class="text-center">
  <nav  class="navbar navbar-expand-lg navbar-light bg-warning font-weight-bold">
    <a routerLink="home" style="padding-left: 50px;">Home</a>
    <a routerLink="dashboard" style="padding-left: 550px;">Dashboard</a>
    <a routerLink="about" style="padding-left: 550px;">About</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<br>
<br>

<app-add-book (book)="onBookAdded($event)"></app-add-book>

<div class="container mt-5">
  <app-display-book [bookList]="bookList"></app-display-book>
</div>

